@import url("Globals.css");

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 1rem 0 1rem;
  flex-wrap: wrap;
}

.flex-wrap {
  flex-direction: column;
}
.generator {
  max-width: 500px;
  width: 100%;
  padding: 2rem;
  background-color: var(--white-1);
  box-shadow: var(--black-shadow);
  flex-direction: column;
  /* border: 1px solid var(--col); */
}

.preview {
  max-width: 300px;
  width: 100%;
  padding: 2rem;
}

.grey {
  color: yellow;
}

.form-wrap {
  width: 100%;
}

.form-group {
  margin: 1rem 0;
}

.form-group label {
  font-size: var(--fs-1);
  font-weight: var(--fw-500);
  color: var(--dark-gray);
  display: block;
  margin-bottom: 0.5rem;
}

.form-group input {
  width: 100%;
  padding: 0.6rem;
  font-size: var(--fs-2);
  border: 1px solid var(--col);
  border-radius: 5px;
  height: 50px;
  border: none;
  box-shadow: var(--sharp);
}

.form-group input:focus {
  background-color: var(--bg-lightblue);
}

.form-group select {
  width: 100%;
  padding: 0.6rem;
  font-size: var(--fs-2);
  border: 1px solid var(--col);
  border-radius: 5px;
}

.form-group textarea {
  width: 100%;
  padding: 0.6rem;
  font-size: var(--fs-2);
  border: 1px solid var(--col);
  border-radius: 5px;
  min-height: 120px;
}

.btn {
  padding: 10px 20px;
  background-color: var(--black);
  color: var(--bg-col5);
  border: none;
  border-radius: 5px;
  font-size: var(--fs-2);
  cursor: pointer;
}

.justify {
  text-align: right;
  padding: 1rem 0;
}
.remove {
  font-size: var(--fs-5);
  color: #d62828;
  cursor: pointer;
  transition: transform 0.3s;
}

.remove:hover {
  transform: scale(1.1);
}

.select-input {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
}

.sel-field {
  padding: 0.6rem;
  font-size: var(--fs-2);
  border: 1px solid var(--col);
  height: 50px;
  border: none;
  box-shadow: var(--sharp);
  width: auto;
  flex-shrink: 0;
}

.inp-field {
  padding: 0.6rem;
  font-size: var(--fs-2);
  border: 1px solid var(--col);
  height: 50px;
  border: none;
  box-shadow: var(--sharp);
  flex-grow: 1;
  min-width: 0;
}

@media (max-width: 768px) {
  .generator {
    margin-bottom: 1rem;
  }
  .preview {
    margin-top: 1rem;
  }
}
