@import url("../../assets/global.css");
@import url("root.css");

* {
  box-sizing: border-box;
  /* margin: 0 auto; */
}

body {
  max-width: 650px;
  width: 100%;
  margin: 0 auto;
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-header);
}

h1 {
  font-size: var(--fs-5);
  font-weight: var(--fw-700);
  color: var(--col);
}

h2 {
  font-size: var(--fs-5);
  font-weight: var(--fw-700);
  color: var(--col);
}

h3 {
  font-size: var(--fs-3);
  font-weight: var(--fw-700);
  color: var(--col);
}

h4 {
  font-size: var(--fs-3);
  font-weight: var(--fw-700);
  color: var(--col);
}

h5 {
  font-size: var(--fs-2);
  font-weight: var(--fw-700);
  color: var(--col);
}

h6 {
  font-size: var(--fs-1);
  font-weight: var(--fw-700);
  color: var(--col);
}

p {
  font-size: var(--fs-2);
  line-height: 1.5;
  color: var(--col);
}

p.strong {
  font-weight: var(--fw-700);
  font-size: var(--fs-1);
  color: var(--col);
  margin: 0;
}

p.gray {
  color: var(--p-col);
}

.wb {
  color: var(--black);
}

img {
  max-width: 100%;
  /* height: auto; */
  align-content: center;
}

button {
  padding: 10px 20px;
  background-color: var(--bg-col5);
  border: none;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.mg-n {
  font-size: 0.9rem;
  color: var(--p-col);
  margin: ; 5px 0 0;
  /* margin-top: -25px; */
}

.mt {
  margin-top: 40px;
}

.rotate {
  transform: rotate(-45deg);
}

.square {
  width: 50px;
  height: 50px;
  background-color: var(--bg-col5);
  padding: 10px 15px;
  border-radius: 5px;
  color: var(--v-dark-gray);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}


.head {
  margin: 70px auto 0;
  width: 100px;
  height: 100px;
  /* margin: 50px auto; */
}

.head img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  object-fit: cover;
}

.about {
  margin-top: 10px;
}

.info {
  text-align: center;
  padding: 0 30px;
}

.pd-15 {
  margin-top: 15px;
}

.pd-30 {
  margin-top: 30px;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.service {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-col2);
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1); /* subtle shadow for a card-like effect */
  max-width: 600px; /* Control max width of the card */
}

.image {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  overflow: hidden;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.desc {
  flex-grow: 1;
  padding: 0 15px; /* Adjust padding for spacing */
}

.desc .strong {
  font-size: var(--fs-1);
  font-weight: bold;
  color: var(--col);
  margin: 0;
}

.desc .mg-n {
  font-size: var(--fs-1);
  color: var(--p-col);
  margin: 5px 0 0;
}

.cta button {
  padding: 8px 16px;
  font-size: var(--fs-1);
  font-weight: var(--fw-700);
  background-color: var(--bg-col-5);
  border: 1px solid #ddd;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta button:hover {
  background-color: var(--bg-col4);
}

.media {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  background-color: var(--bg-col2);
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1); 
  max-width: 600px; 
}

.vlabel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.embed-video {
  width: 100%;
  height: 300px;
}

/* Slider */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider {
  position: relative;
  width: 100%;
  max-width: 600px;
  height: 400px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1); 
}

.slides {
  display: flex;
  transition: transform 0.5s ease-out;
}

.slide {
  min-width: 100%;
  height: auto;
  transition: transform 0.5s ease-in;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 10px;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--bg-col5);
  border: none;
  border-radius: 50%;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transform: translateY(-50%);
  transition: background-color 0.3s ease;
  outline: none;
  z-index: 10;
}

.prev {
  left: 15px;
}

.next {
  right: 15px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


.subscription-section {
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 600px;
  background-color: var(--bg-col2);
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1); /* subtle shadow for a card-like effect */
}

.email-input {
  flex: 3;
  padding: 20px;
  font-size: var(--fs-1);
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  height: 45px;
}

.subscribe-button {
  flex: 1;
  padding: 15px;
  font-size: var(--fs-1);
  
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  width: 100%;
  transition: background-color 0.3s ease;
}

.subscribe-button:hover {
  background-color: var(--bg-col4);
}


@media (min-width: 768px) {
  .mobi {
    display: none;
  }
}


@media (max-width: 768px) {
    .desk {
        display: none;
    }

    .subscription-section {
      flex-direction: column;
      gap: 5px;
    }

    .email-input, .subscribe-button {
      flex: 1;
      width: 100%;
    }
}