@import url("common.css");

.bg {
  padding: 30px 0;
  background-color: yellow;
  margin: 0 auto;
}

.service {
  background-color: var(--bg-col2);
  box-shadow: var(--black-shadow);
}

.desc .strong {
  font-weight: bold;
  color: var(--col);
}

.desc .mg-n {
  font-size: var(--fs-1);
  color: var(--p-col);
}

.cta button {
  font-size: var(--fs-1);
  font-weight: var(--fw-700);
  background-color: var(--bg-col5);
}

.cta button:hover {
  background-color: var(--bg-col4);
}

.media {
  background-color: var(--bg-col2);
  box-shadow: var(--black-shadow);
}
/* Slider */

.slider {
  box-shadow: var(--white-shadow);
}

.prev,
.next {
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--bg-col5);
}

/* Socials  */
.socials {
  background-color: none;
}

.social-item {
  box-shadow: var(--white-shadow);
}

.subscription-section {
  background-color: var(--bg-col2);
  padding: 20px;
  margin: 10px 0 100px 0;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1); /* subtle shadow for a card-like effect */
}

.email-input {
  flex: 3;
  padding: 20px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  height: 45px;
}

.subscribe-button {
  flex: 1;
  padding: 15px;
  font-size: 1rem;
  /* background-color: #007bff;
  color: #fff; */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  width: 100%;
  transition: background-color 0.3s ease;
}

.call {
  background-color: rgba(0, 0, 0, 0.15);
  position: fixed;
  padding: 15px;
  bottom: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  max-width: 650px;
}

.call-items {
  display: flex;
  gap: 15px;
  align-items: center;
}

.call-item {
  display: flex;
  align-items: center;
}

.call-item button {
  background-color: yellow;
  color: #000000;
  padding: 20px 40px;
}
