@import url("common.css");

body {
  background-color: var(--black);
}

button {
  background-color: var(--black);
  color: var(--bg-col5);
  box-shadow: var(--white-shadow);
}

.bg {
  padding: 30px 0;
  background-color: yellow;
  margin: 0 auto;
}

.service {
  background-color: var(--black);
  box-shadow: var(--white-shadow);
}

.wb {
  color: var(--white-2);
}

.desc .strong {
  color: var(--bg-col5);
}

.desc .mg-n {
  font-size: var(--fs-1);
  color: var(--white-2);
  margin: 5px 0 0;
}

.cta button {
  font-size: var(--fs-1);
  font-weight: bold;
  background-color: var(--black);
  border: 1px solid #ddd;
}

.cta button:hover {
  background-color: var(--bg-col4);
  color: var(--black);
}

.media {
  background-color: var(--black);
  box-shadow: var(--white-shadow);
}

.vlabel .title p {
  color: var(--bg-col5);
}

.vlinks {
  color: var(--white-2);
}
/* Slider */

.slider {
  box-shadow: var(--white-shadow);
}

.prev,
.next {
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--bg-col5);
}

/* Socials  */
.socials {
  background-color: none;
}

.social-item {
  padding: 20px;
  align-items: center;
  justify-content: center;
  font-size: var(--fs-3);
  box-shadow: var(--black-shadow);
  text-align: center;
  border-radius: 10px;
}

.subscription-section {
  justify-content: center;
  gap: 10px;
  background-color: var(--black);
  margin: 10px 0 100px 0;
  box-shadow: var(--white-shadow);
}

.email-input {
  font-size: var(--fs-1);
  border: 1px solid green;
  color: var(--white-2);
}

.call {
  background-color: rgba(0, 0, 0, 0.15);
  position: fixed;
  padding: 15px;
  bottom: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  max-width: 650px;
}

.call-items {
  display: flex;
  gap: 15px;
  align-items: center;
}

.call-item {
  display: flex;
  align-items: center;
}

.call-item button {
  background-color: yellow;
  color: #000000;
  padding: 20px 40px;
}
