@import url("common.css");

* {
  background-color: var(--black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--bg-col5);
}

p {
  color: var(--bg-col5);
}

.desc .strong {
  color: var(--white-1);
  margin: 0;
}

button {
  background-color: var(--black);
  color: var(--bg-col5);
  box-shadow: var(--white-shadow);
}

.service {
  box-shadow: var(--white-shadow);
}

.wb {
  color: var(--white-2);
}

.cta button {
  background-color: var(--black);
}

.cta button:hover {
  background-color: var(--bg-col4);
  color: var(--black);
}

.media {
  background-color: var(--black);
  box-shadow: var(--white-shadow);
}

.vlinks {
  color: var(--white-2);
}

.slider {
  box-shadow: var(--white-shadow);
}

.prev,
.next {
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--white-2);
}

/* Socials  */
.socials {
  background-color: var(--black);
  box-shadow: var(--white-shadow);
}

.social-item {
  background-color: var(--black);
  color: var(--white-2);
  box-shadow: var(--white-shadow);
}

.subscription-section {
  background-color: var(--black);
  box-shadow: var(--white-shadow);
}

.email-input {
  border: 1px solid green;
  color: var(--white-2);
}

.subscribe-button:hover {
  background-color: var(--light-gray);
}
