@import url("common.css");
/* .main {
  margin: 0 auto;
} */

.service {
  background-color: var(--bg-col2);
  box-shadow: var(--black-shadow);
}

.cta button {
  background-color: var(--bg-col-5);
}

.cta button:hover {
  background-color: var(--bg-col4);
}

.media {
  background-color: var(--bg-col2);
}

.slider {
  box-shadow: var(--black-shadow);
}

.prev,
.next {
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--bg-col5);
}

/* Socials  */
.socials {
  background-color: var(--bg-col2);
  box-shadow: var(--black-shadow);
}

.social-item {
  background-color: var(--bg-col2);
  box-shadow: var(--black-shadow);
}

.subscription-section {
  background-color: var(--bg-col2);
  box-shadow: var(--black-shadow);
}

.email-input {
  border: 1px solid #ddd;
  color: var(--col);
}

.subscribe-button:hover {
  background-color: var(--bg-col4);
}
